fieldset {
    width: 600px;
    height: 200px;
    border: 2px solid #eeeeee;
}

.form-group {
    width: 500px;
    height: 40px;
    padding: 0;
    margin: 0;
}

input {
    width: 200px;
    height: 20px;
    position: absolute;
    left: 100px;
}

select {
    width: 80px;
    position: absolute;
    left: 100px;
}

button {
    width: 60px;
    height: 25px;
    background-color: #50C194;
    color: #fff;
    border: none;
    border-radius: 2px;
    position: relative;
    left:80px;
}

table {
    width: 600px;
    height: 200px;
    border: 2px solid #eeeeee;
    border-collapse: collapse;
}

td{
	border: 1px solid #eeeeee;	
}
table tr:nth-child(even){
	background-color: #eeeeee;
}
thead{
	background: #37B091;
	color: #fff;
}